// RESPONSIVE BREAKPOINTS
$bp-xxl: 87.5em; // 1400px
$bp-xl: 75em; // 1200px
$bp-lg: 62.5em; // 1000px
$bp-md: 50em; // 800px
$bp-sm: 37.5em; // 600px
$bp-xsm: 25em; // 400px

:root {
    --color-beige: #f3f3f2;
    --color-brown: #575757;
    --color-grey-lightest: rgb(241, 241, 241);
    --color-grey-light: #c7c4c4;
    --color-grey: #7c7c7c;
    --color-grey-reddish-dark: #b9a0a0;
    --color-grey-reddish: #d9caca;
    --color-grey-reddish-light: #e5d4d4;
    --color-grey-dark:#222222;
    --color-red-light: #e21f1f;
    --color-red: #953333;
    --color-red-dark: #5f2121;
    --color-red-muted-dark: #7e3c3c;
    --color-red-muted-darker: #722c2c;
    --color-red-muted: #a24f4f;
    --color-orange-dark: #9c391f;
    --color-orange-muted: #ac523b;
    --color-orange-muted-light: #bf7c6a;
    --color-red-muted-light: #b67c7c;
    --color-pink: #ff9393;
    --color-green: #878a70;
    --color-green-light: #eaebe2;
    --color-green-light-2: #cbcdba;
    --color-footer: #45463b;

    --default-font-size: 1.8rem;
    --small-font-size: 1.4rem;
    --horizontal-gutter: 2rem;

    --height-navbar: 4.5rem;
    --height-card-content: 21.2rem;

    @media only screen and (max-width: $bp-lg) {
        --height-navbar: 3.6rem;
    }
    @media only screen and (max-width: $bp-sm) {
        --height-card-content: 18rem;
    }
}


