.call-to-action {
  padding: 4rem 7%;
  background: rgb(0,151,167);
  background: linear-gradient(90deg, rgba(0,151,167,1) 52%, rgba(0,207,72,1) 100%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .text-positioner {
    width: 50%;
    text-align: center;

    @media only screen and (max-width: $bp-md) {
      width: 80%;
    }

    @media only screen and (max-width: $bp-sm) {
      width: 100%;
    }
  }

  .title {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;

    @media only screen and (max-width: $bp-lg) {
      font-size: 1.75rem;
    }

    @media only screen and (max-width: $bp-xsm) {
      font-size: 1.35rem;
    }
  }

  .cta-button {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: var(--color-primary);
    border: 1px solid white;
    font-weight: 500;
    min-width: 4rem;
    box-sizing: border-box;
    margin: 0;
    display: inline-flex;
    align-items: center;
    vertical-align: bottom;
    text-align: center;

    font-size: 1.25rem;
    padding: 0.8925rem 1.25rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    margin-bottom: 1rem;

    @media only screen and (max-width: $bp-lg) {
      font-size: 1rem;
      padding: 0.714rem 1rem;
    }

    @media only screen and (max-width: $bp-xsm) {
      font-size: 0.875rem;
      padding: 0.62475rem 0.875rem;
    }
  }

  .cta-button:hover {
    background-color: transparent;
    color: #fff;
  }
}
