*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: var(--surface-ground);
}

.reveal{
    position: relative;
}

.container {
    padding: 2rem 7%;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  @media only screen and (max-width: $bp-lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: $bp-xsm) {
    grid-template-columns: 1fr;
  }
}

.card {
  padding: 1rem;
  box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f!important;
}
